<h3 class="section-header">
  Know more
</h3>

<p>
  <strong><a href="http://netimpact.org/" target="_blank">Net Impact Central</a></strong>
</p>
<ul>
  <li><strong><a href="{{ "/join" | prepend:site.baseurl }}">Join Net Impact</a></strong></li>
  <li><a href="https://netimpact.org/events">Event Calendar</a></li>
  <li><a href="https://netimpact.org/impact-programs?t=167">Undergraduate Impact Programs</a></li>
  <li><a href="https://netimpact.org/impact-programs?t=168">Graduate Impact Programs</a></li>
  <li><a href="https://netimpact.org/jobs">Jobs and Internships Board</a></li>
  <li><a href="https://netimpact.org/careers/job-search-tools-and-tips">Job Search Tools and Tips</a></li>
  <li><a href="https://netimpact.org/research-and-publications">Research and Publications</a></li>
  <li><a href="https://netimpact.org/blog">Net Impact Central Blog</a></li>
</ul>
<p>
  <strong><a href="http://web.iit.edu/">IIT Home</a></strong><br>
  <strong><a href="http://stuart.iit.edu/">Stuart School of Business</a></strong><br>
  <strong><a href="http://stuart.iit.edu/programs/ms-environmental-management-and-sustainability" target="_blank">Environmental Management and Sustainability program info</a></strong>
</p>
<p>
  <strong><a href="#">Affiliated Organizations</a></strong>
</p>
<ul>
  <li><a href="http://netimpactchicago.org/" target="_blank">Net Impact Chicago Chapter</a></li>
  <li><a href="http://studentorgs.kentlaw.iit.edu/els/" target="_blank">Environmental Law Society</a></li>
  <li><a href="http://www.iit.edu/campus_sustainability/" target="_blank">Office of Campus Energy and Sustainability</a></li>
  <li><a href="http://www.foresightdesign.org/business/" target="_blank">Foresight Sustainable Business Alliance</a></li>
</ul>
