<h3 class="section-header">
  Know more
</h3>

<p>
  <strong><a href="http://www.netimpact.org/" target="_blank">Net Impact Central</a></strong>
</p>
<ul>
  <li><a href="#">Learning Center</a></li>
  <li><a href="http://www.netimpact.org/displaycommon.cfm?an=4" target="_blank">Career Center</a></li>
  <li><a href="#">Central Event Calendar</a></li>
  <li><a href="#">Central Newsletter</a></li>
  <li><a href="#">Publications</a></li>
</ul>
<p>
  <strong><a href="http://iit.edu/" target="_blank">IIT Home</a></strong>
</p>
<p>
  <strong><a href="http://www.stuart.iit.edu/" target="_blank">Stuart School of Business</a></strong>
</p>
<p>
  <strong><a href="http://www.stuart.iit.edu/graduateprograms/ms/environmentalmanagement/index.shtml" target="_blank">EM &amp; S Program info</a></strong>
</p>
<p>
  <strong><a href="#">Affiliated Organizations</a></strong>
</p>
<ul>
  <li><a href="http://www.kentlaw.edu/student_orgs/els/" target="_blank">Environmental Law Society</a></li>
  <li><a href="http://www.iit.edu/sustainability/" target="_blank">Office of Campus Energy and Sustainability</a></li>
  <li><a href="http://csba.foresightdesign.org/" target="_blank">Chicago Sustainability Business Alliance</a></li>
  <li><a href="http://www.stuart.iit.edu/cse/" target="_blank">Center for Sustainable Enterprise</a></li>
</ul>
